### JetBrains template
/.idea/

### VisualStudioCode template
/.vscode/

### NetBeans template
/nbproject/
/nbbuild/
/nbdist/
/.nb-gradle/

### Composer ###
composer.phar
/vendor/

## ignore build directories
/dist/
/build/
/bundle/
/output/

### Windows template
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
*.lnk

### macOS template
.DS_Store
._*

### Linux template
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

### editor files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ignore config file
/.init.sh
/.env
/phpunit.xml

# ignore cache files and directories
/*.cache
