# Docker Compose configuration for the eSewa Package development environment.
# If you read this file, start docker compose with the following command:
# bash start-docker.sh

# Define networks
networks:
  esewa-network:
    name: esewa-network
    driver: bridge
    external: true

# Define services
services:
  demo-server:
    build:
      context: .
      dockerfile: .docker/Dockerfile
      args:
        APPLICATION_GID: ${APPLICATION_GID:-1000}
        APPLICATION_UID: ${APPLICATION_UID:-1000}
    volumes:
      - './:/var/www/html'
    ports:
      - '8080:8080'
    environment:
      SHOW_WELCOME_MESSAGE: false
      COMPOSER_ALLOW_SUPERUSER: 0
      COMPOSER_ROOT_VERSION: 1.0.0
      HEALTHCHECK_PATH: /
      XDEBUG_MODE: coverage
    networks:
      - esewa-network
    healthcheck:
      test: [ 'CMD', 'curl', '-f', 'http://localhost:8080' ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s
    restart: unless-stopped
